
*{
    margin:0;
}

.download-message {
    display: none;
}


a{
    font-size: 20px;
    color: lightcoral;
}

a:hover {
    color: greenyellow;
}

body{
    background: lightgoldenrodyellow;
}



.mac{
    height:100vh;
    background-image: url("macOS.jpeg");
    background-size: cover;

}

.win{
    height:100vh;
    background-image: url("windows.jpeg");
    background-size: cover;
}



