

.area{
    background-image: url("map.jpeg");
    background-size: cover;
    min-height:98vh;
    min-width:99%;
    outline: 5px solid black;
    position: fixed;

}

div#player {
    background-image: url("tank.png");
    background-repeat: no-repeat;
    width:40px;
    height:60px;
    /*transition: all linear .1s;*/
    position: absolute;
}



.bullet {
    width: 12px;
    height: 25px;
    background: red;
    -moz-border-radius: 12px / 25px;
    -webkit-border-radius: 12px / 25px;
    border-radius: 12px / 25px;
    position: absolute;
    top: 20px;
    left: 10px;
    transition: all .4s linear;
}


.bulletOut {
    background-image: url("ef.png");
    top: 7000px;
    width: 100px;
    height: 25px;

}

