
.area{
    background-image: url("map.jpeg");
    background-size: cover;
    min-height:98vh;
    min-width:99%;
    outline: 5px solid black;
    position: fixed;

}

div#player {
    background-image: url("tank.png");
    background-repeat: no-repeat;
    width:40px;
    height:60px;
    position: absolute;
}

.bullet1 {
    width: 8px;
    height: 18px;
    background: red;
    -moz-border-radius: 8px / 18px;
    -webkit-border-radius: 8px / 18px;
    border-radius: 8px / 18px;
    position: absolute;
    top: 25px;
    left: 10px;
    transition: all .4s linear;
}

.bullet2 {
    width: 8px;
    height: 18px;
    background: red;
    -moz-border-radius: 8px / 18px;
    -webkit-border-radius: 8px / 18px;
    border-radius: 8px / 18px;
    position: absolute;
    top: 25px;
    left: 20px;
    transition: all .4s linear;
}

.bulletOut1 , .bulletOut2 {
    background-image: url("ef.png");
    top: 7000px;
    width: 100px;
    height: 25px;

}

